<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if(user){ %>
        <h1>Hello <%=user.fullname.split("_")[0]%> <%=user.fullname.split("_")[1]%> </h1>
        <form method="post" action="/log-out">
            <button type="submit">Log-Out</button>
        </form>
    <%} else { %>
        <h1> hello everybody</h1>
        <a href="/sign-up">Sign-Up</a>
        <a href="/log-in">Log-In</a>
    <%} %>
    
</body>
</html>