<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <h1>My Drive</h1>
            <form method="post" action="/log-out">
                <button type="submit">Log-Out</button>
            </form>
    </div>
    <% if(!folderId){ %>
        <h1> currently in root folder</h1>
    <% } %>
    <div style="display: flex; justify-content: space-between;">
        <% if(folderId){ %>
            <form method="post" action="/:folderId/add-file" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <button type="button" onclick="document.getElementById('file').value = ''">X</button>
                <button type="submit">Add File</button>
            </form>
            <form method="post" action="/:folderId/add-folder">
                <input type="text" name="folder" id="folder" />
                <button type="submit">Add Folder</button>
            </form>
        <% } else { %>
            <form method="post" action="/add-file" enctype="multipart/form-data">
                <input type="file" name="file" id="file"/>
                <button type="button" onclick="document.getElementById('file').value = ''">X</button>
                <button type="submit">Add File</button>
            </form>
            <form method="post" action="/add-folder">
                <input type="text" name="folder" id="folder" />
                <button type="submit">Add Folder</button>
            </form>
        <% } %>     
    </div>


    
        
        
    </div>
    
</body>
</html>