<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <h1>My Drive</h1>
            <form method="post" action="/log-out">
                <button type="submit">Log-Out</button>
            </form>
    </div>
    <div style="display: flex;">
        <form method="post" action="/add-file" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/>
            <button type="button" onclick="document.getElementById('file').value = ''">X</button>
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>